/* ABOUT content only */

.page-about .projects-column {
  padding: 0 var(--gap-xs);
}

.page-about .about-columns {
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 40px;
}

.page-about .about-section {
  border-top: 1px solid var(--line);
  padding-top: 8px;
  padding-bottom: 46px;
}

.page-about h3,
.page-about .about-label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.page-about .about-text,
.page-about p {
  font-size: 14px;
  line-height: 20px;
}
