@import './variables.css';
@import './header.css';

@font-face {
  font-family: 'TT Hoves Pro';
  src: url('../assets/fonts/TT Hoves Pro Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'TT Hoves Pro', sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--black);
  background: #fff;
}

/* ABOUT — sections */

.about-section {
  border-top: 1px solid currentColor;
}

.about-name {
  margin-bottom: 18px;
}

.about-text,
.about-intro {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 46px;
}

.about-cv-link {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 60px;
}
